<table class="pretty">
    <tr>
        <th><%= sortable "created_at", "Time Created" %></th>
        <th><%= sortable "device_id" %></th>
        <th><%= sortable "log_type" %></th>
        <th>
            <%= render partial: 'search_field', locals: { column: 'log' } %>
            <%= sortable "log" %>
        </th>
    </tr>
    <% for log in @logs %>
        <tr>
            <td><%= log.created_at.to_s(:short) %></td>
            <td><%= log.device_id %></td>
            <td><%= log.log_type %></td>
            <td><%= link_to log.log, log %></td>
        </tr>
    <% end %>
    <%= will_paginate @logs %>
</table>
