<table class="pretty">
    <tr>
        <th><%= sortable "created_at", "Time Created" %></th>
        <th><%= sortable "device_id" %></th>
        <th><%= sortable "log_type" %></th>
        <th>
            <%= sortable "log" %>
            <%= form_tag logs_path, :method => 'get' do %>
                <%= hidden_field_tag :direction, params[:direction] %>
                <%= hidden_field_tag :sort, params[:sort] %>
                <%= hidden_field_tag :search_column, 'log'%>
                <p> <%= text_field_tag :search_pattern, params[:search_pattern] %> </p>
            <% end %>
        </th>
    </tr>
    <% for log in @logs %>
        <tr>
            <td><%= log.created_at.to_s(:short) %></td>
            <td><%= log.device_id %></td>
            <td><%= log.log_type %></td>
            <td><%= link_to log.log, log %></td>
        </tr>
    <% end %>
    <%= will_paginate @logs %>
</table>
