<table class="pretty">
    <tr>
        <th>
            <%= sortable "created_at", "Time Created" %>
        </th>
        <th>
            <%= sortable "build_id", 'Version/Build ID' %>
            <%= render partial: 'search_field', locals: { column: 'build_id' } %>
        </th>
        <th>
            <%= sortable "device_id" %>
        </th>
        <th>
            <%= sortable "log_type" %>
        </th>
        <th>
            <%= sortable "log" %>
            <%= render partial: 'search_field', locals: { column: 'log' } %>
        </th>
    </tr>
    <% for log in @logs %>
        <tr>
            <td><%= format_timestamp log.created_at %></td>
            <td><%= log.build_id %></td>
            <td><%= log.device_id %></td>
            <td><%= log.log_type %></td>
            <td><%= link_to log.log, log %></td>
        </tr>
    <% end %>
    <%= will_paginate @logs %>
</table>
