<!-- <div align="right">
    <%= button_to "Clear database", controller: 'logs', action: 'clear_database', confirm: 'Are you sure?' %>
</div>
-->

<%= form_tag logs_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= submit_tag "Reset search" %>
<% end %>

<%= form_tag logs_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>

    <% params[:search] ||= { log_type: '',  device_id: '', build_id: '', log: ''} %>

    <table class="form">
        <tr>
            <th> <b> Log Type: </b></th>
            <th> <%= select :search, :log_type, Log.pluck(:log_type).uniq, {include_blank: 'All', selected: params[:search][:log_type]} %> </th>
        </tr>
        <tr>
            <th><b> Device ID: </b></th>
            <th> <%= select :search, :device_id, Log.pluck(:device_id).uniq, {include_blank: 'All', selected: params[:search][:device_id]} %> </th>
        </tr>
        <tr>
            <th><b> Build ID/Version: </b></th>
            <th><%= text_field_tag 'search[build_id]', params[:search][:build_id], size: 50 %></th>
        </tr>
        <tr>
            <th><b> Log: </b></th>
            <th><%= text_field_tag 'search[log]', params[:search][:log], size: 100 %></th>
        </tr>
        <tr>
            <th><%= submit_tag "Search " %></th>
        </tr>
    </table>
<% end %>
<p>
<table class="pretty">
    <tr>
        <th> <%= sortable "created_at", "Time Created" %> </th>
        <th> <%= sortable "build_id", 'Version/Build ID' %> </th>
        <th> <%= sortable "device_id" %> </th>
        <th> <%= sortable "log_type" %> </th>
        <th> <%= sortable "log" %> </th>
    </tr>
    <% for log in @logs %>
        <tr>
            <td><%= format_timestamp log.created_at %></td>
            <td><%= log.build_id %></td>
            <td><%= log.device_id %></td>
            <td><%= log.log_type %></td>
            <td><%= link_to log.log, log %></td>
        </tr>
    <% end %>
    <%= will_paginate @logs %>
</table>
